/* Margin */
.top-bar {
    position: fixed;
    top: 0;
    z-index: 10;
    display: flex;
    height: 47px;
    width: 1800px;
    padding-right: 47px;
    padding-left: 47px;
    align-items: center;
    background-color: #fbf2ec;
}

.side-bar-right{
    right: 0;
    display: flex;
}

.side-bar-right,
.side-bar-left
{
    z-index: 2;
    width: 47px;
    height: 100vh;
    background-color: #fbf2ec;
    position: fixed;
}

.bottom-bar{
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 3;
    display: flex;
    height: 47px;
    background-color: #fbf2ec;
}




.container {
    left: 150px;
    top: 885px;
    padding-left: 150px;
    padding-right: 150px;
    
}





/* Typos */
/* Primary header */
.title {
    font-family: Space Mono;
    font-weight: normal;
    font-size: 60px;
    line-height: 68px;
    letter-spacing: 0.05em;

    background: -webkit-linear-gradient(-135deg,#5A9DFF,#BD7CF0,#F850ED, #25B4DD);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* Regular text */

.description {


    font-family:'Karla', sans-serif;
    font-weight: normal;
    font-size: 24px;
    line-height: 37px;
    text-align: justify;
    letter-spacing: 0.05em;

    color: #1C2426;
}

.info {


    font-family: Space Mono;
    font-weight: normal;
    font-size: 24px;
    line-height: 43px;
    letter-spacing: 0.05em;
    
    background: -webkit-linear-gradient(-135deg,#5A9DFF,#BD7CF0,#F850ED, #25B4DD);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


/* Regular text */
.copy {

    
    font-family: 'Karla', sans-serif;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;

    color: #1C2426;
}

.subtitle{

    font-family: Space Mono;
    font-weight: bold;
    font-size: 30px;
    line-height: 53px;
    letter-spacing: 0.05em;

    background: -webkit-linear-gradient(-135deg,#5A9DFF,#BD7CF0,#F850ED, #25B4DD);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* Second section, intro */
section {
    color: #fff;
    width: 50%;
    position: absolute;
    top: 0;
}

aside {
    width: 30%;
    margin-left: 80%;

}